.gradient-background {
    background-color: #72986f;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    padding: 20px;
    margin-left: 400px ;
}
.gradient-backgrounde {
    background-color: #72986f;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    padding: 20px;
    margin-left: 400px ;
}
